*

.myntra{
    display: flex;
    height: 4rem;
}

.myntra nav{
    display: flex;
    align-items: center;
}
.myntra nav img{
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.myntra nav div{
   display: flex;
   align-items: center;
   margin-left: 4rem;
   border: 1px solid rgb(139, 139, 163);
   border-radius: 4px;
   padding: 11px;
}

.myntra nav div input{
    width: 300px;
    outline: none;
    border: none;
    margin-left: 5px;
}
.hr{
    color: #cecede;
}
.myntra nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    color: rgb(97, 97, 115);
    gap: 2.5rem;
    font-size: 1.1rem;
    margin-left: 2rem;
}
.myntra nav ul li a{
    text-decoration: none;
    color: rgb(35,35,43);
}
.myntra nav li a:hover{
    border-bottom:2px solid red;
    color:  black;
}


/*-------------- Second navigation bar ---------------------*/

.nav2{
    height: 2.2rem;
    width: 100%;
}

.nav2 ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 5px;
    color: rgb(97, 97, 115);
}

.nav2 ul li a{
    text-decoration: none;
    color: rgb(35,35,43);
   
}
.nav2 ul li a:hover{
    border-bottom:2px solid red;
    color:  rgb(159, 32, 137);
}

/*-------------- main navigation bar ---------------------*/

.section1{
    /* height: 500px; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    border-radius: 5px;
   

}

#imag{
    display: grid;
    justify-content: center;
    
}

#imag .one1{
    border: 1px solid gray;
}

#imag .add{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 1rem;
}

#imag button{
    padding: 14px 48px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: white;
    border: 1px solid  rgb(159, 32, 137);
   
}

#imag .b{
    background-color: rgb(159, 32, 137);
    color: white;
    /* border-radius: 5px; */
}

#imag .line0{
    height: 1px;
    margin-top: 3rem;
    background-color: gray;
}

#imag .imag1{
    margin-top: 2rem;
    /* height: 100px; */
    /* background-color: white; */
    display: flex;
    justify-content: center;
    border: 1px solid gray;
  
}

#imag .imag1 .imag-one img{
    height: 76px;
}





.f67{
    height: 150px;
    width: 100%;
    background-color: wheat;
    padding: 5px 0px 0px 10px;
    margin-top: 11px;
    border-radius: 5px;
    line-height: 8px;
}

.f67 p{
    color: rgb(139, 139, 163);
    font-size: 18px;
    font-weight:600;
}

.f67 .f167{
    color: black;
    font-size: 2rem;
}

#selct{
    height: 150px;
    background-color: wheat;
    padding: 1px 0px 0px 10px;
    margin-top: 2rem;
    border-radius: 5px;
}


.Select2{
    display: flex;
    font-size: 2rem;
    gap: 1.5rem;
}

.Select2 span{
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 25px 5px 25px;
}

#selct2{
    height: 150px;
    background-color: wheat;
    padding: 1px 0px 0px 10px;
    margin-top: 2rem;
    border-radius: 5px;
}

.Select3{
   display: flex;
   justify-content: space-between;
   padding: 5px 32px 5px 5px;
}

.Select3 img{
    height: 3rem;
    border-radius: 50%;
}

.Select3 button{
    border: 1px solid  rgb(159, 32, 137);
    /* border: none; */
    border-radius: 5px;
    color: rgb(159, 32, 137);
    border-radius: 5px;
    padding: 14px 48px 14px 48px;
    font-weight: 600;
    font-size: 1.2rem;
}

section .div1{
    height: 250px;
    width: 100%;
    background-color: wheat;
}

section .div1 div{
    height: 150px;
    width: 100%;
    background-color: black;
}